body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f0f0f0;
}

.container {
    display: flex;
    gap: 30px;
    max-width: 900px;
}

.task-manager {
    background-color: #e4e4e4;
    padding: 20px;
    width: 350px;
    border: 1px solid #999;
    box-sizing: border-box;
}

.task-manager h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.task {
    border: 1px solid #375a70;
    padding: 10px 15px;
    margin-bottom: 15px;
    background: white;
}

.task h3 {
    margin: 0 0 5px 0;
    font-weight: bold;
}

.task p {
    margin: 2px 0;
    font-weight: bold;
}

.task .description {
    margin-top: 10px;
    font-weight: normal;
}

.late-label {
    background-color: #ca5c2a;
    color: white;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 0.8rem;
    vertical-align: middle;
    margin-left: 10px;
}

.btn-add-task,
.btn-save-task {
    background-color: #185c79;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin: 20px auto 0 auto;
}

.instructions {
    max-width: 500px;
    font-size: 1rem;
    line-height: 1.5;
}

/* Formulário nova tarefa */
#formNovaTarefa {
    border: 1px solid #375a70;
    padding: 15px 20px;
    background: white;
    display: none;
    /* começa oculto */
}

#formNovaTarefa h3 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
}

#formNovaTarefa label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: normal;
}

#formNovaTarefa input[type="text"],
#formNovaTarefa input[type="date"],
#formNovaTarefa textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #999;
    font-size: 1rem;
}

#formNovaTarefa textarea {
    resize: vertical;
    height: 80px;
    border-radius: 16px;
}

.btn-delete-task {
    background-color: #e53935;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.btn-delete-task:hover {
    background-color: #c62828;
}

#msgErro {
    color: red;
}

#msgSucesso {
    color: green;
}